name: Deploy Backend with Spring Boot to AWS EC2

on:
  push:
    branches: [main]

jobs:
  avoid_reduncy:
    runs-on: ubuntu-22.04
    steps:
      - name: Cancel Previous Redundant Builds
        uses: styfle/cancel-workflow-action@0.12.0
        with:
          access_token: ${{ github.token }}

  build:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v3.13.0
        with:
          distribution: "temurin"
          java-version: "11"
          cache: maven
          settings-path: "Proyecto_Integrador/ProyectoIntegrador/*"
      - name: Build Project
        run: cd Proyecto_Integrador/ProyectoIntegrador && mvn clean install -DskipTests
      - name: Login to docker hub
        run: docker login -u pabloc43 -p 123456789
      - name: Build docker image
        run: docker build -t pabloc43/proyecto_integrador:latest Proyecto_Integrador/ProyectoIntegrador/.
      - name: Publish image to docker hub
        run: docker push pabloc43/proyecto_integrador:latest

  deploy:
    needs: build
    runs-on: aws-ec2
    steps:
      - name: Login to docker hub
        run: sudo docker login -u pabloc43 -p 123456789
      - name: Pull Image from docker hub
        run: sudo docker pull pabloc43/proyecto_integrador:latest
      - name: Delete old container
        run: sudo docker rm -f proyecto_integrador
      - name: Run docker container
        run: sudo docker run -d -p 8081:8081 --name proyecto_integrador -e DB_URL='jdbc:db.ctd.academy:3306/maquinariapro?createDatabaseIfNotExist=true' -e DB_USERNAME='1023c01_GRUPO3' -e DB_PASSWORD=Go8ahNgu  pabloc43/proyecto_integrador:latest
